.content{
    grid-area: content;
    background: #f6f7f9;
    margin: 5px 10px;
    
}

.content header h3 {
    font-size: 30px;
    text-align: left;
}

.listaArticulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.articulo-item{
    flex-basis: calc(33.33% - 20px);
    max-width: 400px;
    height: 350px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
    margin: 10px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.articulo-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.11);
    opacity: 0;
    transition: height 0.3s ease, opacity 2s ease;
}

.articulo-item:hover::before {
    height: 97%;
    opacity: 1;
}

.imgArticulo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.imgArticulo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.articulo-item header h2,
.articulo-item a {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: black;
}


@media screen and (max-width: 1000px) {
    .articulo-item {
      flex-basis: calc(50% - 20px);
    }
}
  
@media screen and (max-width: 640px) {
    .articulo-item {
      flex-basis: 100%; 
      max-width:max-content;
      height: auto;
    }
}
