/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer{
    grid-area: footer;
  
    background: #d1defa;
    color: #454545;
    border-top: 1px solid white;
    text-align: left;
    line-height: 68px;
    padding-left: 25px;
  }
  
  .footer a{
    color: #0b468a;
    text-decoration: none;
  }