/*ESTILOS GENERALES*/

body{
  background: #d1defa;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout{
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "content content content content"
      "footer footer footer footer"
  ;
  grid-template-rows: 100px 70px auto 70px;
}

/*ESTILOS BARRA LATERAL*/

.lateral{
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
  min-height: 480px;
}

.lateral > div{
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea
{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.edit_form{
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

